.rootPane {
    -fx-padding: 10 10 10 10;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);

    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: white;
    -fx-opacity: 0.9;*/
}

.titelbarPane {
    -fx-background-color: #2b579a;


    /*-fx-opacity: 0.9;*/
}

.titelbarPane .button{
    -fx-background-color: #2b579a;
    -fx-min-width: 50;
    -fx-min-height: 35;
    -fx-text-fill: #FFFFFF;
}

.titelbarPane .button:hover {
    -fx-background-color: #124078;
}

.titelbarPane .button:hover .svgIcon {
    -fx-fill: #FFFFFF;
}

.titelbarPane .button:hover .svgIconGit {
    -fx-fill: #FFFFFF;
}

.titelbarPane .button:hover .svgIconGithub {
    -fx-fill: #FFFFFF;
}

.titelbarPane .button:pressed {
    -fx-background-color: #1d5da8;

}

/*
https://github.com/Jerady/fontawesomefx-examples/blob/master/src/main/resources/styles/glyphs.css
 */
.titelbarPane .button .svgIcon {
    -fx-fill: #FFFFFF;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.titelbarPane .closeButton:hover {
    -fx-background-color: #e81123;
}


.titelbarPane .svgAppIcon {
    -fx-fill: #FFFFFF;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}


.titelbarPane .labelSeperator {
    -fx-background-color: transparent;
    -fx-min-width: 10;
    -fx-min-height: 2;
}


.titelbarPane .label {
    -fx-font-size: 14;
    -fx-font-weight: normal;
    -fx-wrap-text: true;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.userContentPane {
    -fx-padding: 0 0 0 0;
}